<!-- * Log In Page * -->
<!-- CSRF - protection so the session can't get stolen -->
<div class="row">
  <div class="col m4 col md offset 4">
    <h1>Log In</h1>
    {{#if hasErrors}}
      <div class="alert danger">
        {{# each messages }}
         <p>{{this}}</p> <!--print the error message -->
        {{/each}}
      </div>
    {{/if}}
    <form class="" action="/user/login" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <!-- sends the csrf token which allows server to identify browser & user correspond together-->
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" name="button" class="btn btn-primary">Log In</button>
    </form>
    <p>Don't have an account? <a href="/user/signup">Sign up here!</a></p>
  </div>
</div>
