/* ul.nav-center {
    text-align: center;
}
ul.nav-center li {
    display: inline;
    float: none;
}
ul.nav-center.side-main-nav li a {
    display: inline-block;
    /* line-height: 200px; */
} / */

nav {
  height: 128px;
}

.brand-logo {
  line-height: 100px;
}

.card-image img {
  max-height: 270px;
}

#id .material-icons i {
  color: black;
}

.fa-user, .cart-navbar {
  font-size: 12px;
}

.cart-list {
  height: 100px;
}

.shopall {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .shopall {
    padding-left: 0;
  }
}

.category-title {
  text-transform: uppercase;
}

.category {
  text-transform: capitalize;
}

.products-link {
  color: black;
}

.product-page {
  padding-top: 50px;
}

.quantity {
  max-width: 50px;
}

.product-info {
  margin-left: 400px;
  /* padding-left: 200px; */
}

.product-description, .product-title, .product-price {
  text-align: left;
}

.user-profile, .login-page {
  padding-top: 75px;
}

/* img.responsive-img {
  max-width: 100%;
  min-width: 100%;
  min-height: 400px;
  max-height: 400px;
} */
