<div class="row">
    <div class="col s6 m4 offset-m4 offset-s3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>

        <!-- Error Message -->
        <div id="charge-error" class="red card lighten-3 {{#if noError}}hidden{{/if}}">
          {{errMsg}}
        </div>

        <!-- Checkout form -->
        <form action="/cart/checkout" method="post" id="checkout-form">
            <div class="row">
              <br>
              <h5>Billing Address:</h5>
                <div class="col s12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col s12">
                    <div class="form-group">
                        <label for="address">Street Address</label>
                        <input type="text" id="address-street" class="form-control" required name="addressStreet">
                    </div>
                </div>
                <div class="col s6">
                    <div class="form-group">
                        <label for="address">City</label>
                        <input type="text" id="address-city" class="form-control" required name="addressCity">
                    </div>
                </div>
                <div class="col s6">
                    <div class="form-group">
                        <label for="address">State</label>
                        <input type="text" id="address-state" class="form-control" required name="addressState">
                    </div>
                </div>
                <div class="col s6">
                    <div class="form-group">
                        <label for="address">Zipcode</label>
                        <input type="text" id="address-zipcode" class="form-control" required name="addressZipcode">
                    </div>
                  </div>
                </div>

                <br>

                <!-- Payment -->
              <div class="row">
                <h5>Payment:</h5>
                <div class="col s12">
                    <div class="form-group">
                        <label for="card-name">Card Holder Name</label>
                        <input type="text" id="card-name" class="form-control" required>
                    </div>
                </div>

                <div class="col s12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required>
                    </div>
                </div>
                        <div class="col s4">
                            <div class="form-group">
                                <label for="card-expiry-month">Expiration Month</label>
                                <input type="text" id="card-expiry-month" class="form-control" required>
                            </div>
                        </div>
                                <div class="col s4">
                                    <div class="form-group">
                                        <label for="card-expiry-month">Expiration Year</label>
                                        <input type="text" id="card-expiry-year" class="form-control" required>
                                    </div>
                                </div>
                        <div class="col s4">
                            <div class="form-group">
                                <label for="card-expiry-year">CVC</label>
                                <input type="text" id="card-cvc" class="form-control" required>
                            </div>
                        </div>
                    </div>
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
      </div>
  </div>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="../javascripts/checkout.js"></script>
