<div class="row">
  <div class="col s6 m6">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge"></span>
        <strong>Title</strong>
        <span class="label label-success">$12</span>
        <div class="btn-group">
          <button type="button" name="button" class="btn btn-primary btn-xs dropdown-toggle">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li> <a href="#">Reduce by 1</a></li>
            <li> <a href="#">Remove All</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s6 m6">
    <strong>Total: </strong>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6 m6">
    <button type="button" name="button" class="btn btn-success">Checkout</button>
  </div>
</div>

<!-- don't display anything if there's 0 items in cart -->
<div class="row">
  <div class="col s6 m6">
    <h2>No Items in Cart</h2>
  </div>
</div>
